In [1]:
!pip install db-sqlite3

Requirement already satisfied: db-sqlite3 in c:\users\user\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: db in c:\users\user\anaconda3\lib\site-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in c:\users\user\anaconda3\lib\site-packages (from db->db-sqlite3) (1.2.1)

In [2]:
import sqlite3
import csv
import pandas as pd
conn = sqlite3.connect('books.db')

In [6]:
csv_file = 'newbooks.csv'
df = pd.read_csv(csv_file)
df.to_sql('books_table', conn, index=False, if_exists='replace')

110

In [7]:
pd.read_sql('SELECT * FROM books_table LIMIT 5', conn)

,Title,Availability,Price Pounds,Price CAD
0,Worlds Elsewhere: Journeys Around Shakespeare’...,In stock,£40.30,$68.91
1,The Five Love Languages: How to Express Heartf...,In stock,£31.05,$53.10
2,Reasons to Stay Alive,In stock,£26.41,$45.16
3,#HigherSelfie: Wake Up Your Life. Free Your So...,In stock,£23.11,$39.52
4,"Unseen City: The Majesty of Pigeons, the Discr...",In stock,£44.18,$75.55