In [13]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import io
import requests

pd.set_option('display.max_columns', None)

In [14]:
books_df = pd.read_csv('non_fiction_books.csv')

In [15]:
#book_test = books_df.head().copy()
column_pound = books_df['Price'].values

del books_df['Price']
books_df['Price Pounds'] = column_pound
books_df['Price CAD'] = (books_df['Price Pounds'].replace('£','',
                                                            regex=True).astype(float)*1.71).apply(lambda x: '{:.2f}'.format(x))
books_df['Price CAD'] = '$' + books_df['Price CAD'].astype(str)

books_df

,Title,Availability,Price Pounds,Price CAD
0,Worlds Elsewhere: Journeys Around Shakespeare’...,In stock,£40.30,$68.91
1,The Five Love Languages: How to Express Heartf...,In stock,£31.05,$53.10
2,Reasons to Stay Alive,In stock,£26.41,$45.16
3,#HigherSelfie: Wake Up Your Life. Free Your So...,In stock,£23.11,$39.52
4,"Unseen City: The Majesty of Pigeons, the Discr...",In stock,£44.18,$75.55
...,...,...,...,...
105,H is for Hawk,In stock,£57.42,$98.19
106,Travels with Charley: In Search of America,In stock,£57.82,$98.87
107,The Tumor,In stock,£41.56,$71.07
108,The End of the Jesus Era (An Investigation #1),In stock,£14.40,$24.62
109,"Eat, Pray, Love",In stock,£51.32,$87.76

In [16]:
new_file_path = 'newbooks.csv'
books_df.to_csv(new_file_path, index=False)
print(f'DataFrame has been successfully saved to {new_file_path}')

DataFrame has been successfully saved to newbooks.csv

In [17]:
column_names = list(books_df.columns)
print(column_names)

['Title', 'Availability', 'Price Pounds', 'Price CAD']

In [18]:
books_df.dtypes

Title           object
Availability    object
Price Pounds    object
Price CAD       object
dtype: object

In [19]:
books_df.dtypes

Title           object
Availability    object
Price Pounds    object
Price CAD       object
dtype: object

In [12]:
books_df.head()

,Title,Availability,Price Pounds,Price CAD
0,Worlds Elsewhere: Journeys Around Shakespeare’...,In stock,£40.30,$68.91
1,The Five Love Languages: How to Express Heartf...,In stock,£31.05,$53.10
2,Reasons to Stay Alive,In stock,£26.41,$45.16
3,#HigherSelfie: Wake Up Your Life. Free Your So...,In stock,£23.11,$39.52
4,"Unseen City: The Majesty of Pigeons, the Discr...",In stock,£44.18,$75.55